/** Import bootstrap components **/

@import "_imports";


/** Custom vars **/

// colors
@black: #000;
@white: #fff;
@color-even-offwhite: #f4f4f7;
@color-even-dark-grey: #444;
@color-even-near-black: #191919;
@color-even-blue: #008AB8;
@color-even-orange-light: #FF6633;
@color-even-orange: #c23000;

// fonts
@font-family-even-headings: "Alegreya Sans", sans-serif;
@font-family-even-sans: "Open Sans", sans-serif;

/** Bootstrap overrides **/

// brand
@brand-primary: @color-even-dark-grey;

// basics
@body-bg: @color-even-offwhite;
@text-color: @color-even-dark-grey;
@link-color: @color-even-blue;
@link-hover-color: @color-even-orange;

// fonts
@font-size-base: 16px;
@font-family-sans-serif: @font-family-even-sans;
@headings-font-family: @font-family-even-headings;
@headings-font-weight: 800;

// panels
@panel-border-radius: 0;

/** Base **/

body {
}

/** Logo / Brand **/
.brand {
  // font-family: @font-family-even-headings;
  font-family: "Alegreya Sans";
  font-weight: bold;
}
.logo-link {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}
.l-even { color: @color-even-dark-grey; }
.l-dev { color: @color-even-orange; }
.l-even, .l-dev { transition: color 0.25s ease; }
.logo:hover {
  .l-dev { color: @color-even-dark-grey; }
  .l-even { color: @color-even-orange; }
}

/** Site header **/
.site-header {
  .logo {
    font-size: 1.6em;
  }
  padding: 1em 0;
}

/** Posts **/
.posts {
}
.posts-archive {
  &, li { list-style: none; margin: 0; padding: 0; }
  .post-title { font-weight: bold; }
  .post-date {
    display: block;
    color: @text-muted;
    font-size: @font-size-small;
    margin-bottom: 1em;
  }
}
// single post page
.page-article {
  .article-title {
    // margin: 2em 0;
  }
  .article-meta {
    font-size: @font-size-small;
  }
}
#disqus_thread {
  margin: 3em 0;
}

/** Blocks/wells/panels **/
.panel-bright {
  background-color: @color-even-orange;
  color: @white;
}

/** Device Contexts **/
@media (max-width: @screen-xs-max) {
  .article-title {
    font-size: 2em;
  }
}

@media (min-width: @screen-sm) {
  .site-header {
    .logo {
      font-size: 3em !important;
    }
  }
}