/** Import bootstrap components **/

@import "_imports";


/** Custom vars **/

// colors
@color-even-offwhite: #f4f4f7;
@color-even-dark-grey: #444;
@color-even-near-black: #191919;
@color-even-blue: #008AB8;
@color-even-orange-light: #FF6633;
@color-even-orange: #c23000;

// fonts
@font-family-even-headings: "Alegreya Sans", sans-serif;
@font-family-even-sans: "Open Sans", sans-serif;

/** Bootstrap overrides **/

// brand
@brand-primary: @color-even-dark-grey;


// basics
@body-bg: @color-even-offwhite;
@text-color: @color-even-dark-grey;
@link-color: @color-even-blue;
@link-hover-color: @color-even-orange;

// fonts
@font-family-sans-serif: @font-family-even-sans;
@headings-font-family: @font-family-even-headings;
@headings-font-weight: 800;

/** Base **/

body {
  font-size: 1.6em;
  padding: 0 1em;
}

/** Logo / Brand **/

.logo {
  font-weight: bold;
}
.logo-link {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}
.l-even { color: @color-even-dark-grey; }
.l-dev { color: @color-even-orange; }
.l-even, .l-dev { transition: color 0.25s ease; }
.logo:hover {
  .l-dev { color: @color-even-dark-grey; }
  .l-even { color: @color-even-orange; }
}

/** Site header **/
.site-header {
  .logo {
    font-size: 3em;
  }
  padding: 2em 0;
  // text-align: center;
}

/** Posts **/
.posts {

}
.posts-big-list {
  // font-size: 1.8em;
  // text-align: center;
  margin: 0; padding: 0;
  li { list-style: none; }
  .post-title { font-weight: bold; }
  .post-date {
    display: block;
    margin-bottom: 1em;
  }
}

/** Device Contexts **/

@media (min-width: @screen-sm-min) {
  // Site Header

}