.panel.panel-bright
  .panel-body
    .container
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
          | Hi, I'm Steve Jamesson.<br>I'm a front-end developer &amp; website consultant.
