.page-header
  h1 About EvenDev

p EvenDev is the freelance identity of Steve Jamesson, a web developer and consultant with over 12 years of experience.
p Steve lives in Asheville, North Carolina with his awesome wife 
  a(href='http://michellebonn.com') Michelle
  | .
p Find Steve on 
  a(href='#{ site.socialUrls.facebook }') Facebook
  |  or 
  a(href='#{ site.socialUrls.twitter }') Twitter
  | .