!= partial('../_/functions')
!!!
!= partial('../_/head')
  body.page-article
    .container
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2
          != partial('../_/header')
          article
            header
              h1.article-title= title
            .article-content
              != yield
    //- != partial('../_/nav')
    != partial('../_/scripts')