h1 Intro to Grunt
article
  .post-intro
    p Learning Grunt can be very tricky, especially if you have little experience with JavaScript (or maybe you're a recent or budding convert from another language like PHP.) But Grunt is ridiculously powerful, and with a little work, can automate all the tedious little tasks that you find yourself repeating.

  :markdown
    ## Dependencies

    I'm not gonna bother discussing installing dependencies. You need `node.js` (and `npm`) and `grunt-cli` installed.

        npm install -g grunt-cli

    